@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

div {
    height: 100px;
    width: 100px;
    background-color: #ffcccc;
    border: 1px solid black;
    margin: 1px;
}

.one {
    background-image: url("../images/2pac.png");
}

.two {
    background-image: url("../images/fetty.png");
}

.three {
    background-image: url("../images/gashi.png");
}

.four {
    background-image: url("../images/geazy.png");
}

.five {
    background-image: url("../images/ice.png");
}

.six {
    background-image: url("../images/juice.png");
}

.seven {
    background-image: url("../images/logic.png");
}

.eight {
    background-image: url("../images/mata.png");;
}

.nine {
    background-image: url("../images/posty.png");
}

.ten {
    background-image: url("../images/redd.png");
}

.eleven {
    background-image: url("../images/saint.png");
}

.twelve {
    background-image: url("../images/tyla.png");
}

.matched /* two cards that are a match and no longer a part of the game */ {
    background-color: white;
}

.hidden /* changing back to the regular colour, after cards were visible for a couple of seconds */ {
    background-color: #ffcccc;
}