@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(105, 92, 92, .2);
    font-family: 'Roboto', sans-serif;  
    background-image: url(../images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    filter: grayscale(100%);
}

/* The general look of the div elements, mainly aimed at the pictures in the game */
div {
    height: 100px;
    width: 100px;
    margin: 1px;
    border-radius: 10px;
}


/* ....................... FIRST GAME 4X4 */

.one {
    background-image: url("../images/hiphop/juice.png");
    }

.two {
    background-image: url("../images/hiphop/fetty.png");
}

.three {
    background-image: url("../images/hiphop/gashi.png");
}

.four {
    background-image: url("../images/hiphop/geazy.png");
}

.five {
    background-image: url("../images/hiphop/posty.png");
}

.six {
    background-image: url("../images/hiphop/saint.png");
}

.seven {
    background-image: url("../images/hiphop/logic.png");
}

.eight {
    background-image: url("../images/hiphop/mata.png");
}

/* Game board 4x4 */
#game-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 1px;
    margin: auto;
    width: fit-content;
    margin-top: 100px; 
    margin-bottom: 150px;
    filter: grayscale(100%);
}

@media screen and (max-width: 1396px) {
    #game-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 1px;
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 150px; 
    filter: grayscale(100%);
}
}

@media screen and (max-width: 750px) {
    #game-grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(8, 100px);
    grid-gap: 1px;
    margin: auto;
    width: fit-content;
    margin-top: 100px; 
    margin-bottom: 150px;
    filter: grayscale(100%);
}
}
  
/* "grid--item" with 2 hyphens for HTML in game_one */  
.grid--item {
    height: 100px;
    width: 100px;
    background-color: #ffcccc;
}

/* ....................... SECOND GAME 8x8 */

.pic-1 {
    background-image: url("../images/pop/alicia.jpg");
}

.pic-2 {
    background-image: url("../images/pop/avicii.jpg");
}

.pic-3 {
    background-image: url("../images/pop/avril.jpg");
}

.pic-4 {
    background-image: url("../images/pop/bebe.jpg");
}

.pic-5 {
    background-image: url("../images/pop/beyonce.jpg");
}

.pic-6 {
    background-image: url("../images/pop/billie.jpg");
}

.pic-7 {
    background-image: url("../images/pop/britney.jpg");
}

.pic-8 {
    background-image: url("../images/pop/bts.jpg");
}

.pic-9 {
    background-image: url("../images/pop/diplo.jpg");
}

.pic-10 {
    background-image: url("../images/pop/dua.jpeg");
}

.pic-11 {
    background-image: url("../images/pop/jess.jpg");
}

.pic-12 {
    background-image: url("../images/pop/justin_b.jpg");
}

.pic-13 {
    background-image: url("../images/pop/justin_t.jpg");
}

.pic-14 {
    background-image: url("../images/pop/mariah.jpg");
}

.pic-15 {
    background-image: url("../images/pop/ariana.jpg");
}

.pic-16 {
    background-image: url("../images/pop/whitney.jpg");
}

.pic-17 {
    background-image: url("../images/pop/wknd.jpg");
}
    
.pic-18 {
    background-image: url("../images/pop/marshmello.jpg");
}

/* Game board 8x8 */
#game-wrap {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 1px;
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 150px;
    filter: grayscale(100%);
}

@media screen and (max-width: 1396px) {
    #game-wrap {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(9, 100px);
    grid-gap: 1px;
    margin: auto;
    width: fit-content;
    margin-top: 150px; 
    margin-bottom: 150px;
    filter: grayscale(100%);
}
}

@media screen and (max-width: 750px) {
    #game-wrap {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(18, 100px);
    grid-gap: 1px;
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 150px; 
    filter: grayscale(100%);
}
}

/* "grid-item" with 1 hyphen for HTML in game_two */  
.grid-item {
    height: 100px;
    width: 100px;
    background-color: #ffcccc;
}

.matched /* two cards that are a match and no longer a part of the game */ {
    background-color: white;

}

.hidden /* changing back to the regular colour, after cards were visible for a couple of seconds */ {
    background-color: #ffcccc;
    background-image: none;
}


/* .................. GAME MENU MAIN PAGE */

/* Buttons to choose which level player wants to play */
.play-btn {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif; 
    padding: 10px;
    color: black;
    margin: auto;
    display: inline-block;
 }

 .intro {
    text-align: center;
    border: 1px solid black;
    background: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif; 
    padding: 10px;
    color: black;
    margin: auto;
    height: auto;
    width: 80%;
 }

 /* Play button for the easier game */
 .top {
     margin-top: 2%;
 }

 /* Play button for the harder game */
 .bottom {
     margin-top: 2%;
 }

#play {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif; 
    color: black;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    min-width: 400px;
    
} 

.header-main {
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    background: white;
    border-radius: 20px;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Cherry Cream Soda', cursive;
    color: #0099ff;
}

#main-page-body {
    background-repeat: no-repeat;
    background-size: cover;
} 

/* Back Button to the main page */

.the-btn {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

a {
    text-decoration: none; 
    color: black;
    font-weight: 600;
}

a:hover {
    color: #0099ff;
}

